body{
    margin:0px;
    padding: 0px;
    background:url('gymbg.jpeg');
    /* height:2000px; */
    color: white;
    font-family: 'Ubuntu', sans-serif;
    height:2000px;
}
.left{
    /* border: 3px solid rgb(111, 164, 192); */
    display: inline-block;
    margin: 3px;
    position: absolute;
    left: 40px;
    top:5px;
    }
.mid {
        /* border: 3px solid rgb(111, 164, 192); */
        margin: 10px auto;
        width:43%;
    }
.right{
        display: inline-block;
        margin: 3px;
        /* border: 3px solid rgb(111, 164, 192); */
        position: absolute;
        right: 40px;
        top:10px;

    }
.header{
    position:sticky;
    top:2px;
}
.navbar li{
    position:sticky;
    top:2px;
    list-style:none;
    font-size: 20px;
    display: inline-block;
    padding: 10px;
}
.navbar li a{
    text-decoration: none;
    color: white;
}
.navbar li a:hover{
    color: grey;
    text-decoration:underline;
}
.navbar li a.active{
    color:grey;
}
.left img{
    width: 90px;
    display: inline-block;
    margin: 0px;
}
.left div{
    line-height: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 3px;
}
.btn{ background-color: darkslategray;
    margin:0px 5px;
    padding: 6px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
.container{
    border: 3px solid white;
    width: 600px;
    /* height: 500px; */
    margin: 100px 200px;
    border-radius: 10px;
}
.container h3{
    text-align: center;
    text-decoration:underline;
    font-size: 25px;
}
.formgroup input{
    
    border: 3px solid black;
    border-radius: 10px;
    display: block;
    margin: 6px auto;
    width: 400px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 16px;
    background-color: transparent;
    color: white;
}
.container button{
    width: 400px;
    display: block;
    margin: 6px auto;
}
